
version: '3'
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  backend:
    build: ./server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
    depends_on:
      - mongo
